body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-aviny: Aviny;
  --font-kaghaz: Kaghaz;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-9xl: 28px;
  --font-size-lgi: 19px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-darkolivegreen: #224820;
  --color-saddlebrown: #462c10;
  --color-darkseagreen: #bdd7a4;
  --color-gainsboro: rgba(217, 217, 217, 0);

  /* Border radiuses */
  --br-19xl: 38px;
  --br-3xl: 22px;
  --br-32xl: 51px;
  --br-17xl: 36px;
}
