#product {
  position: absolute;
  left: 7466px;
  top: -691px;
  width: 1440px;
  height: 1795px;
  background: #dffcc3;
  background-blend-mode: normal;
}

#header {
  position: absolute;
  left: -121px;
  top: -286px;
  width: 1714px;
  height: 634px;
}

#ellipse1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1714px;
  height: 634px;
  background: #bbe196;
  background-blend-mode: normal;
  filter: blur(205.8px);
}

#rectangle5 {
  position: absolute;
  left: 284px;
  top: 301px;
  width: 1131px;
  height: 78px;
  border-radius: 18px;
  background: #224820;
  background-blend-mode: normal;
  box-shadow: inset 0px 0px 6.3px 4px rgba(0,0,0,0.25);
}

#a {
  position: absolute;
  left: 1135px;
  top: 314px;
  width: 90px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1057px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 972px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 887px;
  top: 314px;
  width: 75px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 807px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  opacity: 0.6;
  position: absolute;
  left: 653px;
  top: 316px;
  width: 100px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 45.9px;
  text-align: right;
}

#plantinthe {
  visibility: hidden;
  position: absolute;
  left: 400px;
  top: 325px;
  width: 18px;
  height: 30px;
}

#searchstro {
  position: absolute;
  left: 537px;
  top: 323px;
  width: 255px;
  height: 36px;
  border-radius: 23px;
  border: solid #bdd7a4;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#mansearchi {
  position: absolute;
  left: 740px;
  top: 301px;
  width: 66px;
  height: 66px;
}

#a {
  position: absolute;
  left: 1305px;
  top: 300px;
  width: 80px;
  height: 80px;
}

#pottedplan {
  position: absolute;
  left: 490px;
  top: 326px;
  width: 35px;
  height: 35px;
}

#ellipse3 {
  position: absolute;
  left: 510px;
  top: 312px;
  width: 17px;
  height: 17px;
  background: #b0d31f;
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 499px;
  top: 293px;
  width: 25px;
  height: 40px;
  color: #ffffff;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 413px;
  top: 317px;
  width: 78px;
  height: 37px;
  color: #b0d31f;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#group {
  position: absolute;
  left: 319px;
  top: 319px;
  width: 42.38px;
  height: 42.4px;
}

#vector {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42.38px;
  height: 42.4px;
  background: linear-gradient(140deg, #16ff6a 0%, #0090a5 100%);
  background-blend-mode: normal;
}

#vector {
  position: absolute;
  left: 11.1px;
  top: 8.51px;
  width: 21.19px;
  height: 24.8px;
  background: #ffffff;
  background-blend-mode: normal;
}

#groupHotsp {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42.38px;
  height: 42.4px;
}

#rectangle3 {
  position: absolute;
  left: 908px;
  top: 213.19px;
  width: 437.4px;
  height: 420.73px;
  border-radius: 40px;
  border: 1px solid #224820;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#rectangle1 {
  position: absolute;
  left: 190px;
  top: 301px;
  width: 345px;
  height: 270px;
  border-radius: 40px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(176,211,31,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#rectangle2 {
  position: absolute;
  left: 188px;
  top: 107px;
  width: 1065px;
  height: 38px;
  border-radius: 12px;
  background: #b0d31f;
  background-blend-mode: normal;
}

#star {
  position: absolute;
  left: 791px;
  top: 311px;
  width: 18px;
  height: 18px;
}

#a {
  position: absolute;
  left: 702px;
  top: 219px;
  width: 249px;
  height: 55px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
  display: flex;
  align-items: center;
}

#a {
  position: absolute;
  left: 641px;
  top: 329px;
  width: 249px;
  height: 55px;
  color: #369151;
  font-family: Aviny;
  font-size: 28px;
  font-weight: 400;
  line-height: 64.26px;
  text-align: right;
  display: flex;
  align-items: center;
}

#a {
  position: absolute;
  left: 655px;
  top: 377px;
  width: 249px;
  height: 229px;
  list-style-type: disc;
  color: #462c10;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 45.9px;
  text-align: right;
  display: flex;
  align-items: center;
}

#palmtreeho {
  position: absolute;
  left: 956px;
  top: 139px;
  width: 361px;
  height: 503px;
}

#a {
  position: absolute;
  left: 346px;
  top: 507px;
  width: 172px;
  height: 44px;
  color: #224820;
  font-family: Aviny;
  font-size: 36px;
  font-weight: 400;
  line-height: 82.62px;
  text-align: right;
  display: flex;
  align-items: center;
}

#a {
  position: absolute;
  left: 346px;
  top: 485px;
  width: 172px;
  height: 44px;
  color: #b0d31f;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
  text-decoration: line-through;
  display: flex;
  align-items: center;
}

#a {
  position: absolute;
  left: 371px;
  top: 112px;
  width: 873px;
  height: 27px;
  color: #462c10;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
  display: flex;
  align-items: center;
}

#group3 {
  position: absolute;
  left: 213px;
  top: 497px;
  width: 129px;
  height: 64px;
}

#pottedplan {
  position: absolute;
  left: 9.92px;
  top: 19.91px;
  width: 39.69px;
  height: 34.13px;
}

#a {
  position: absolute;
  left: 62.85px;
  top: 0px;
  width: 59.54px;
  height: 64px;
  color: #b0d31f;
  font-family: Aviny;
  font-size: 36px;
  font-weight: 400;
  line-height: 82.62px;
  text-align: center;
  display: flex;
  align-items: center;
}

#rectangle9 {
  position: absolute;
  left: 0px;
  top: 18.49px;
  width: 129px;
  height: 34.13px;
  border-radius: 15px;
  border: 1px solid #224820;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#star {
  position: absolute;
  left: 853px;
  top: 311px;
  width: 18px;
  height: 18px;
}

#star {
  position: absolute;
  left: 832px;
  top: 311px;
  width: 17px;
  height: 18px;
}

#star {
  position: absolute;
  left: 810px;
  top: 311px;
  width: 18px;
  height: 18px;
}

#a {
  position: absolute;
  left: 256px;
  top: 287px;
  width: 267px;
  height: 244px;
  list-style-type: disc;
  color: #462c10;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 45.9px;
  text-align: right;
  display: flex;
  align-items: center;
}

#rectangle2 {
  position: absolute;
  left: 203px;
  top: 318px;
  width: 59px;
  height: 45px;
  border-radius: 9px;
  background: #b0d31f;
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 201px;
  top: 318px;
  width: 63px;
  height: 52px;
  color: #462c10;
  font-family: Kaghaz;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
  display: flex;
  align-items: center;
}

#rectangle8 {
  position: absolute;
  left: 190px;
  top: 710px;
  width: 1065px;
  height: 481px;
  border-radius: 22px;
  border: solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(171,194,148,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#........ {
  position: absolute;
  left: 200px;
  top: 708px;
  width: 1043px;
  height: 475px;
  color: #462c10;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  text-align: right;
  display: flex;
  align-items: center;
}

#a {
  position: absolute;
  left: 1041px;
  top: 693px;
  width: 212px;
  height: 30px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  text-align: right;
  display: flex;
  align-items: center;
}

#greenburst {
  position: absolute;
  left: 109px;
  top: 217px;
  width: 158px;
  height: 157px;
}

#wavywaterl {
  position: absolute;
  left: 618px;
  top: 264px;
  width: 272px;
  height: 32px;
}

#star {
  position: absolute;
  left: 872px;
  top: 311px;
  width: 18px;
  height: 18px;
}

#handHoldin {
  position: absolute;
  left: 754px;
  top: 308px;
  width: 24px;
  height: 24px;
}

#a {
  position: absolute;
  left: 1053px;
  top: 1226px;
  width: 249px;
  height: 55px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
  display: flex;
  align-items: center;
}

#pr1 {
  position: absolute;
  left: 190px;
  top: 1286px;
  width: 169px;
  height: 279px;
}

#rectangle3 {
  position: absolute;
  left: 0px;
  top: 45px;
  width: 165px;
  height: 201px;
  border-radius: 51px;
  border: 1px solid #224820;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 31px;
  top: 234px;
  width: 94px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 29px;
  top: 201px;
  width: 96px;
  height: 45px;
  color: #462c10;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#palmtreeho {
  position: absolute;
  left: 2px;
  top: 0px;
  width: 167px;
  height: 224px;
}

#pr1 {
  position: absolute;
  left: 550px;
  top: 1286px;
  width: 169px;
  height: 279px;
}

#rectangle3 {
  position: absolute;
  left: 0px;
  top: 45px;
  width: 165px;
  height: 201px;
  border-radius: 51px;
  border: 1px solid #224820;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 31px;
  top: 234px;
  width: 94px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 29px;
  top: 201px;
  width: 96px;
  height: 45px;
  color: #462c10;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#palmtreeho {
  position: absolute;
  left: 2px;
  top: 0px;
  width: 167px;
  height: 224px;
}

#pr1 {
  position: absolute;
  left: 907px;
  top: 1286px;
  width: 169px;
  height: 279px;
}

#rectangle3 {
  position: absolute;
  left: 0px;
  top: 45px;
  width: 165px;
  height: 201px;
  border-radius: 51px;
  border: 1px solid #224820;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 31px;
  top: 234px;
  width: 94px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 29px;
  top: 201px;
  width: 96px;
  height: 45px;
  color: #462c10;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#palmtreeho {
  position: absolute;
  left: 2px;
  top: 0px;
  width: 167px;
  height: 224px;
}

#pr2 {
  position: absolute;
  left: 346px;
  top: 1281px;
  width: 227.61px;
  height: 284px;
}

#rectangle3 {
  position: absolute;
  left: 27px;
  top: 50px;
  width: 165px;
  height: 201px;
  border-radius: 51px;
  border: 1px solid #224820;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 58px;
  top: 239px;
  width: 104px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 56px;
  top: 206px;
  width: 96px;
  height: 45px;
  color: #462c10;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#goldenpoth {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 227.61px;
  height: 227.61px;
}

#pr2 {
  position: absolute;
  left: 703px;
  top: 1281px;
  width: 227.61px;
  height: 284px;
}

#rectangle3 {
  position: absolute;
  left: 27px;
  top: 50px;
  width: 165px;
  height: 201px;
  border-radius: 51px;
  border: 1px solid #224820;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 58px;
  top: 239px;
  width: 104px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 56px;
  top: 206px;
  width: 96px;
  height: 45px;
  color: #462c10;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#goldenpoth {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 227.61px;
  height: 227.61px;
}

#pr2 {
  position: absolute;
  left: 1062px;
  top: 1281px;
  width: 227.61px;
  height: 284px;
}

#rectangle3 {
  position: absolute;
  left: 27px;
  top: 50px;
  width: 165px;
  height: 201px;
  border-radius: 51px;
  border: 1px solid #224820;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 58px;
  top: 239px;
  width: 104px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 56px;
  top: 206px;
  width: 96px;
  height: 45px;
  color: #462c10;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#goldenpoth {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 227.61px;
  height: 227.61px;
}

#forward {
  position: absolute;
  left: 1242px;
  top: 1407px;
  width: 45px;
  height: 45px;
}

#forward {
  position: absolute;
  left: 201px;
  top: 1409px;
  width: 45px;
  height: 45px;
  transform: scaleX(-1) rotate(180deg);
}

#curvedgree {
  position: absolute;
  left: 1257px;
  top: 688px;
  width: 81px;
  height: 34px;
}

#curvedgree {
  position: absolute;
  left: 1257px;
  top: 1234px;
  width: 81px;
  height: 34px;
}

#footer {
  position: absolute;
  left: -106px;
  top: 1623px;
  width: 1714px;
  height: 674px;
}

#ellipse1 {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 1714px;
  height: 634px;
  background: #b4d197;
  background-blend-mode: normal;
  filter: blur(89.5px);
}

#anguor-c-1 {
  position: absolute;
  left: 286px;
  top: 23px;
  width: 104px;
  height: 113px;
}

#anguor-c-1 {
  position: absolute;
  left: 401px;
  top: 25px;
  width: 116px;
  height: 116px;
}

#a {
  position: absolute;
  left: 1137px;
  top: 55px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1137px;
  top: 83px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1043px;
  top: 55px;
  width: 75px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1066px;
  top: 83px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1211px;
  top: 29px;
  width: 118px;
  height: 118px;
}

#rectangle1 {
  position: absolute;
  left: 744px;
  top: 97px;
  width: 255px;
  height: 33px;
  border-radius: 15px;
  border: 1px solid #224820;
  background: #abc294;
  background-blend-mode: normal;
}

#rectangle1 {
  position: absolute;
  left: 564px;
  top: 98px;
  width: 165px;
  height: 32px;
  border-radius: 12px;
  background: #462c10;
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 586px;
  top: 103px;
  width: 115px;
  height: 21px;
  color: #b0d31f;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.41px;
  text-align: right;
}

#a {
  position: absolute;
  left: 905px;
  top: 86px;
  width: 81px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#: {
  position: absolute;
  left: 728px;
  top: 59px;
  width: 242px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 45.9px;
  text-align: right;
}

#telegramAp {
  position: absolute;
  left: 653px;
  top: 62px;
  width: 33px;
  height: 33px;
}

#whatsApp {
  position: absolute;
  left: 692px;
  top: 62px;
  width: 31px;
  height: 31px;
}

#instagram {
  position: absolute;
  left: 569px;
  top: 59px;
  width: 34px;
  height: 34px;
}

#twitterX {
  position: absolute;
  left: 612px;
  top: 59px;
  width: 34px;
  height: 34px;
}

#location {
  position: absolute;
  left: 974px;
  top: 68px;
  width: 24px;
  height: 24px;
}

#weavingpla {
  position: absolute;
  left: 947px;
  top: 20.68px;
  width: 89px;
  height: 169px;
  transform: rotate(-13.436225deg);
}

#greenplant {
  position: absolute;
  left: 480px;
  top: 111.99px;
  width: 83.14px;
  height: 90.99px;
  transform: rotate(-40.498302deg);
}

#markdown {
  position: absolute;
  left: 596px;
  top: 139px;
  width: 443px;
  height: 157px;
}

#ellipse4 {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 443px;
  height: 149px;
  background: #224820;
  background-blend-mode: normal;
}

#AtomWordpr {
  position: absolute;
  left: 115px;
  top: 0px;
  width: 218px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 16px;
  font-weight: 400;
  line-height: 36.72px;
  text-align: right;
  display: flex;
  align-items: center;
}
