.shop {
  background-color: #defbc3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.shop .overlap-wrapper {
  background-color: #defbc3;
  overflow: hidden;
  width: 1440px;
  height: 984px;
}

.shop .overlap {
  position: relative;
  width: 1730px;
  height: 1236px;
  top: -286px;
  left: -121px;
}

.shop .header {
  position: absolute;
  width: 1730px;
  height: 634px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.shop .overlap-group {
  position: relative;
  width: 1714px;
  height: 634px;
  background-color: #bae196;
  border-radius: 857px/317px;
  filter: blur(205.8px);
}

.shop .rectangle {
  position: absolute;
  width: 1131px;
  height: 78px;
  top: 301px;
  left: 284px;
  background-color: #224820;
  border-radius: 18px;
  box-shadow: inset 0px 0px 6.3px 4px #00000040;
}

.shop .text-wrapper {
  position: absolute;
  width: 90px;
  top: 314px;
  left: 1135px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #bdd7a4;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .div {
  position: absolute;
  width: 57px;
  top: 314px;
  left: 1057px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #bdd7a4;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .text-wrapper-2 {
  width: 57px;
  top: 314px;
  left: 972px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #bdd7a4;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .text-wrapper-3 {
  width: 75px;
  top: 314px;
  left: 887px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #bdd7a4;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .text-wrapper-4 {
  width: 57px;
  top: 314px;
  left: 807px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #bdd7a4;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .text-wrapper-5 {
  width: 100px;
  top: 316px;
  left: 653px;
  opacity: 0.6;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #bdd7a4;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .search-stroke {
  position: absolute;
  width: 255px;
  height: 36px;
  top: 323px;
  left: 537px;
  border-radius: 83px;
  border: 2px solid;
  border-color: #bdd7a4;
}

.shop .man-searching-music {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 301px;
  left: 740px;
}

.shop .element {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 300px;
  left: 1305px;
  object-fit: cover;
}

.shop .potted-plant {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 326px;
  left: 490px;
}

.shop .ellipse {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 312px;
  left: 510px;
  background-color: #b0d31f;
  border-radius: 8.5px;
}

.shop .text-wrapper-6 {
  position: absolute;
  width: 25px;
  top: 293px;
  left: 499px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .text-wrapper-7 {
  width: 78px;
  top: 317px;
  left: 413px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #b0d31f;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .group {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 319px;
  left: 319px;
}

.shop .product {
  height: 665px;
  top: 571px;
  position: absolute;
  width: 1100px;
  left: 309px;
}

.shop .overlap-2 {
  position: absolute;
  width: 1104px;
  height: 315px;
  top: 0;
  left: 0;
}

.shop .pr {
  left: 0;
  position: absolute;
  width: 173px;
  height: 279px;
  top: 5px;
}

.shop .overlap-group-2 {
  position: relative;
  width: 169px;
  height: 279px;
}

.shop .rectangle-2 {
  position: absolute;
  width: 165px;
  height: 201px;
  top: 45px;
  left: 0;
  border-radius: 51px;
  border: 1px solid;
  border-color: #224820;
}

.shop .text-wrapper-8 {
  width: 94px;
  top: 234px;
  left: 31px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #224820;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .text-wrapper-9 {
  top: 201px;
  left: 29px;
  position: absolute;
  width: 96px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #462c10;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .palm-tree-house {
  position: absolute;
  width: 167px;
  height: 224px;
  top: 0;
  left: 2px;
  background-blend-mode: darken;
  object-fit: cover;
}

.shop .overlap-group-wrapper {
  left: 360px;
  position: absolute;
  width: 173px;
  height: 279px;
  top: 5px;
}

.shop .div-wrapper {
  left: 717px;
  position: absolute;
  width: 173px;
  height: 279px;
  top: 5px;
}

.shop .pr-2 {
  left: 156px;
  position: absolute;
  width: 232px;
  height: 284px;
  top: 0;
}

.shop .overlap-3 {
  position: relative;
  width: 228px;
  height: 284px;
}

.shop .rectangle-3 {
  position: absolute;
  width: 165px;
  height: 201px;
  top: 50px;
  left: 27px;
  border-radius: 51px;
  border: 1px solid;
  border-color: #224820;
}

.shop .text-wrapper-10 {
  width: 104px;
  top: 239px;
  left: 58px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #224820;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .text-wrapper-11 {
  top: 206px;
  left: 56px;
  position: absolute;
  width: 96px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #462c10;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .golden-pothos-or {
  position: absolute;
  width: 228px;
  height: 228px;
  top: 0;
  left: 0;
  background-blend-mode: darken;
  object-fit: cover;
}

.shop .pr-3 {
  left: 513px;
  position: absolute;
  width: 232px;
  height: 284px;
  top: 0;
}

.shop .pr-4 {
  left: 872px;
  position: absolute;
  width: 232px;
  height: 284px;
  top: 0;
}

.shop .group-2 {
  position: absolute;
  width: 989px;
  height: 45px;
  top: 270px;
  left: 44px;
}

.shop .overlap-4 {
  position: absolute;
  width: 78px;
  height: 45px;
  top: 0;
  left: 899px;
}

.shop .img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  left: 6px;
}

.shop .text-wrapper-12 {
  width: 36px;
  height: 45px;
  top: 0;
  left: 38px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #b0d31f;
  font-size: 24px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .rectangle-4 {
  position: absolute;
  width: 78px;
  height: 24px;
  top: 13px;
  left: 0;
  border-radius: 51px;
  border: 1px solid;
  border-color: #224820;
}

.shop .overlap-5 {
  position: absolute;
  width: 78px;
  height: 45px;
  top: 0;
  left: 720px;
}

.shop .overlap-6 {
  position: absolute;
  width: 78px;
  height: 45px;
  top: 0;
  left: 540px;
}

.shop .overlap-7 {
  position: absolute;
  width: 78px;
  height: 45px;
  top: 0;
  left: 360px;
}

.shop .overlap-8 {
  position: absolute;
  width: 78px;
  height: 45px;
  top: 0;
  left: 177px;
}

.shop .overlap-9 {
  position: absolute;
  width: 78px;
  height: 45px;
  top: 0;
  left: 0;
}

.shop .group-3 {
  position: absolute;
  width: 989px;
  height: 45px;
  top: 620px;
  left: 44px;
}

.shop .product-2 {
  height: 284px;
  top: 907px;
  position: absolute;
  width: 1100px;
  left: 309px;
}

.shop .overlap-10 {
  position: relative;
  width: 1104px;
  height: 284px;
}

.shop .text-wrapper-13 {
  width: 57px;
  top: 495px;
  left: 1304px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #462c10;
  font-size: 22px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .text-wrapper-14 {
  width: 152px;
  top: 495px;
  left: 946px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #462c10;
  font-size: 22px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .text-wrapper-15 {
  width: 152px;
  top: 495px;
  left: 676px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #462c10;
  font-size: 22px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .text-wrapper-16 {
  width: 152px;
  top: 495px;
  left: 405px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #462c10;
  font-size: 22px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .text-wrapper-17 {
  width: 114px;
  top: 478px;
  left: 1255px;
  font-family: "Kaghaz-Bold", Helvetica;
  font-weight: 700;
  color: #224820;
  font-size: 22px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .p {
  width: 377px;
  top: 408px;
  left: 645px;
  font-family: "Kaghaz-Bold", Helvetica;
  font-weight: 700;
  color: #224820;
  font-size: 40px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.shop .rectangle-5 {
  position: absolute;
  width: 254px;
  height: 33px;
  top: 505px;
  left: 310px;
  border-radius: 45px;
  border: 1px solid;
  border-color: #224820;
}

.shop .rectangle-6 {
  position: absolute;
  width: 254px;
  height: 33px;
  top: 505px;
  left: 580px;
  border-radius: 45px;
  border: 1px solid;
  border-color: #224820;
}

.shop .rectangle-7 {
  position: absolute;
  width: 254px;
  height: 33px;
  top: 505px;
  left: 850px;
  border-radius: 45px;
  border: 1px solid;
  border-color: #224820;
}

.shop .rectangle-8 {
  position: absolute;
  width: 254px;
  height: 33px;
  top: 505px;
  left: 1119px;
  border-radius: 45px;
  border: 1px solid;
  border-color: #224820;
}

.shop .small-blue-flowers {
  position: absolute;
  width: 111px;
  height: 111px;
  top: 379px;
  left: 543px;
}

.shop .slider {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 478px;
  left: 1372px;
}

.shop .chevron-down {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 511px;
  left: 1127px;
}

.shop .chevron-down-2 {
  left: 858px;
  position: absolute;
  width: 23px;
  height: 23px;
  top: 511px;
}

.shop .chevron-down-3 {
  left: 589px;
  position: absolute;
  width: 23px;
  height: 23px;
  top: 511px;
}

.shop .chevron-down-4 {
  left: 320px;
  position: absolute;
  width: 23px;
  height: 23px;
  top: 511px;
}

.shop .pink-rubber-boots {
  position: absolute;
  width: 86px;
  height: 115px;
  top: 376px;
  left: 1031px;
}
