.login {
  background-color: #defbc3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .overlap-wrapper {
  background-color: #defbc3;
  width: 1440px;
  height: 1024px;
}

.login .overlap {
  position: relative;
  height: 1024px;
  background-image: url(./img/fresh-natural-green-schefflera-arboricola-background.png);
  background-size: cover;
  background-position: 50% 50%;
}

.login .header {
  position: absolute;
  width: 1147px;
  height: 87px;
  top: 7px;
  left: 147px;
  background-color: transparent;
}

.login .navbar {
  position: relative;
  width: 1131px;
  height: 87px;
}

.login .rectangle {
  position: absolute;
  width: 1131px;
  height: 78px;
  top: 8px;
  left: 0;
  background-color: #224820;
  border-radius: 18px;
  box-shadow: inset 0px 0px 6.3px 4px #00000040;
}

.login .text-wrapper {
  width: 90px;
  top: 21px;
  left: 851px;
  color: #bdd7a4;
  font-size: 24px;
  position: absolute;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .div {
  width: 57px;
  top: 21px;
  left: 773px;
  color: #bdd7a4;
  font-size: 24px;
  position: absolute;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .text-wrapper-2 {
  width: 57px;
  top: 21px;
  left: 688px;
  color: #bdd7a4;
  font-size: 24px;
  position: absolute;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .text-wrapper-3 {
  width: 75px;
  top: 21px;
  left: 603px;
  color: #bdd7a4;
  font-size: 24px;
  position: absolute;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .text-wrapper-4 {
  width: 57px;
  top: 21px;
  left: 523px;
  color: #bdd7a4;
  font-size: 24px;
  position: absolute;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .text-wrapper-5 {
  width: 100px;
  top: 23px;
  left: 369px;
  opacity: 0.6;
  color: #bdd7a4;
  font-size: 20px;
  position: absolute;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .search-stroke {
  position: absolute;
  width: 255px;
  height: 36px;
  top: 30px;
  left: 253px;
  border-radius: 83px;
  border: 2px solid;
  border-color: #bdd7a4;
}

.login .man-searching-music {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 8px;
  left: 456px;
}

.login .element {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 7px;
  left: 1021px;
  object-fit: cover;
}

.login .potted-plant {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 33px;
  left: 206px;
}

.login .ellipse {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 19px;
  left: 226px;
  background-color: #b0d31f;
  border-radius: 8.5px;
}

.login .text-wrapper-6 {
  position: absolute;
  width: 25px;
  top: 0;
  left: 215px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .text-wrapper-7 {
  width: 78px;
  top: 24px;
  left: 129px;
  color: #b0d31f;
  font-size: 24px;
  position: absolute;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .group {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 26px;
  left: 35px;
}

.login .overlap-group {
  position: absolute;
  width: 515px;
  height: 751px;
  top: 201px;
  left: 455px;
}

.login .rectangle-2 {
  position: absolute;
  width: 515px;
  height: 717px;
  top: 34px;
  left: 0;
  background-color: #ffffff1f;
  border-radius: 42px;
  border: 1px solid;
  border-color: #ffffff47;
  box-shadow: 0px 0px 44.3px 30px #000000cc;
  backdrop-filter: blur(13.8px) brightness(100%);
  -webkit-backdrop-filter: blur(13.8px) brightness(100%);
}

.login .text-wrapper-8 {
  width: 219px;
  top: 0;
  left: 148px;
  text-shadow: 0px 7px 2.8px #00000066;
  font-family: "Kaghaz-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .text-wrapper-9 {
  width: 211px;
  top: 106px;
  left: 156px;
  font-family: "Kaghaz-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .rectangle-3 {
  position: absolute;
  width: 470px;
  height: 56px;
  top: 224px;
  left: 22px;
  background-color: #bdd7a459;
  border-radius: 9px;
  border: 2px solid;
  border-color: #ffffff;
}

.login .rectangle-4 {
  position: absolute;
  width: 470px;
  height: 56px;
  top: 343px;
  left: 22px;
  background-color: #bdd7a459;
  border-radius: 9px;
  border: 2px solid;
  border-color: #ffffff;
}

.login .text-wrapper-10 {
  width: 141px;
  height: 31px;
  top: 192px;
  left: 344px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #bdd7a4;
  font-size: 28px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .text-wrapper-11 {
  width: 141px;
  height: 31px;
  top: 310px;
  left: 344px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #bdd7a4;
  font-size: 28px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .rectangle-5 {
  position: absolute;
  width: 470px;
  height: 56px;
  top: 462px;
  left: 22px;
  background-color: #bdd7a459;
  border-radius: 9px;
  border: 2px solid;
  border-color: #ffffff;
}

.login .text-wrapper-12 {
  width: 141px;
  height: 31px;
  top: 429px;
  left: 344px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #bdd7a4;
  font-size: 28px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .rectangle-6 {
  position: absolute;
  width: 197px;
  height: 49px;
  top: 569px;
  left: 276px;
  background-color: #bdd7a4;
  border-radius: 9px;
}

.login .rectangle-7 {
  position: absolute;
  width: 197px;
  height: 49px;
  top: 569px;
  left: 50px;
  background-color: #bdd7a4;
  border-radius: 9px;
}

.login .text-wrapper-13 {
  width: 44px;
  height: 31px;
  top: 574px;
  left: 348px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #462c10;
  font-size: 28px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .p {
  width: 162px;
  height: 31px;
  top: 641px;
  left: 180px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #b0d31f;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .text-wrapper-14 {
  width: 66px;
  height: 31px;
  top: 574px;
  left: 110px;
  font-family: "Aviny-Regular", Helvetica;
  font-weight: 400;
  color: #462c10;
  font-size: 28px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
}

.login .iphone-SE {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 468px;
  left: 28px;
}

.login .user {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 232px;
  left: 33px;
}

.login .password {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 351px;
  left: 33px;
}

.login .add-user-male {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 566px;
  left: 26px;
}

.login .enter {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 566px;
  left: 440px;
}
