#contactus {
  position: absolute;
  left: 4433px;
  top: -691px;
  width: 1440px;
  height: 1168px;
  background: #dffcc3;
  background-blend-mode: normal;
}

#footer {
  position: absolute;
  left: -99px;
  top: 1000px;
  width: 1714px;
  height: 674px;
}

#ellipse1 {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 1714px;
  height: 634px;
  background: #b4d197;
  background-blend-mode: normal;
  filter: blur(89.5px);
}

#anguor-c-1 {
  position: absolute;
  left: 286px;
  top: 23px;
  width: 104px;
  height: 113px;
}

#anguor-c-1 {
  position: absolute;
  left: 401px;
  top: 25px;
  width: 116px;
  height: 116px;
}

#a {
  position: absolute;
  left: 1137px;
  top: 55px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1137px;
  top: 83px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1043px;
  top: 55px;
  width: 75px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1066px;
  top: 83px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1211px;
  top: 29px;
  width: 118px;
  height: 118px;
}

#rectangle1 {
  position: absolute;
  left: 744px;
  top: 97px;
  width: 255px;
  height: 33px;
  border-radius: 15px;
  border: 1px solid #224820;
  background: #abc294;
  background-blend-mode: normal;
}

#rectangle1 {
  position: absolute;
  left: 564px;
  top: 98px;
  width: 165px;
  height: 32px;
  border-radius: 12px;
  background: #462c10;
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 586px;
  top: 103px;
  width: 115px;
  height: 21px;
  color: #b0d31f;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.41px;
  text-align: right;
}

#a {
  position: absolute;
  left: 905px;
  top: 86px;
  width: 81px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#: {
  position: absolute;
  left: 728px;
  top: 59px;
  width: 242px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 45.9px;
  text-align: right;
}

#telegramAp {
  position: absolute;
  left: 653px;
  top: 62px;
  width: 33px;
  height: 33px;
}

#whatsApp {
  position: absolute;
  left: 692px;
  top: 62px;
  width: 31px;
  height: 31px;
}

#instagram {
  position: absolute;
  left: 569px;
  top: 59px;
  width: 34px;
  height: 34px;
}

#twitterX {
  position: absolute;
  left: 612px;
  top: 59px;
  width: 34px;
  height: 34px;
}

#location {
  position: absolute;
  left: 974px;
  top: 68px;
  width: 24px;
  height: 24px;
}

#weavingpla {
  position: absolute;
  left: 947px;
  top: 20.68px;
  width: 89px;
  height: 169px;
  transform: rotate(-13.436225deg);
}

#greenplant {
  position: absolute;
  left: 480px;
  top: 111.99px;
  width: 83.14px;
  height: 90.99px;
  transform: rotate(-40.498302deg);
}

#markdown {
  position: absolute;
  left: 596px;
  top: 139px;
  width: 443px;
  height: 157px;
}

#ellipse4 {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 443px;
  height: 149px;
  background: #224820;
  background-blend-mode: normal;
}

#AtomWordpr {
  position: absolute;
  left: 115px;
  top: 0px;
  width: 218px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 16px;
  font-weight: 400;
  line-height: 36.72px;
  text-align: right;
  display: flex;
  align-items: center;
}

#header {
  position: absolute;
  left: -121px;
  top: -286px;
  width: 1714px;
  height: 634px;
}

#ellipse1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1714px;
  height: 634px;
  background: #bbe196;
  background-blend-mode: normal;
  filter: blur(205.8px);
}

#rectangle5 {
  position: absolute;
  left: 284px;
  top: 301px;
  width: 1131px;
  height: 78px;
  border-radius: 18px;
  background: #224820;
  background-blend-mode: normal;
  box-shadow: inset 0px 0px 6.3px 4px rgba(0,0,0,0.25);
}

#a {
  position: absolute;
  left: 1135px;
  top: 314px;
  width: 90px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1057px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 972px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 887px;
  top: 314px;
  width: 75px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 807px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  opacity: 0.6;
  position: absolute;
  left: 653px;
  top: 316px;
  width: 100px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 45.9px;
  text-align: right;
}

#plantinthe {
  visibility: hidden;
  position: absolute;
  left: 400px;
  top: 325px;
  width: 18px;
  height: 30px;
}

#searchstro {
  position: absolute;
  left: 537px;
  top: 323px;
  width: 255px;
  height: 36px;
  border-radius: 23px;
  border: solid #bdd7a4;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#mansearchi {
  position: absolute;
  left: 740px;
  top: 301px;
  width: 66px;
  height: 66px;
}

#a {
  position: absolute;
  left: 1305px;
  top: 300px;
  width: 80px;
  height: 80px;
}

#pottedplan {
  position: absolute;
  left: 490px;
  top: 326px;
  width: 35px;
  height: 35px;
}

#ellipse3 {
  position: absolute;
  left: 510px;
  top: 312px;
  width: 17px;
  height: 17px;
  background: #b0d31f;
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 499px;
  top: 293px;
  width: 25px;
  height: 40px;
  color: #ffffff;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 413px;
  top: 317px;
  width: 78px;
  height: 37px;
  color: #b0d31f;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#group {
  position: absolute;
  left: 319px;
  top: 319px;
  width: 42.38px;
  height: 42.4px;
}

#vector {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42.38px;
  height: 42.4px;
  background: linear-gradient(140deg, #16ff6a 0%, #0090a5 100%);
  background-blend-mode: normal;
}

#vector {
  position: absolute;
  left: 11.1px;
  top: 8.51px;
  width: 21.19px;
  height: 24.8px;
  background: #ffffff;
  background-blend-mode: normal;
}

#groupHotsp {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42.38px;
  height: 42.4px;
}

#a {
  position: absolute;
  left: 524px;
  top: 123px;
  width: 377px;
  height: 26px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

#greendecor {
  position: absolute;
  left: 644px;
  top: 288px;
  width: 444px;
  height: 172px;
}

#neshani {
  position: absolute;
  left: 998px;
  top: 198px;
  width: 255px;
  height: 168px;
}

#rectangle9 {
  position: absolute;
  left: 0px;
  top: 49px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(175,210,30,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
  backdrop-filter: blur(42px);
}

#a {
  position: absolute;
  left: 85px;
  top: 60px;
  width: 78px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#a {
  position: absolute;
  left: 49px;
  top: 105px;
  width: 157px;
  height: 63px;
  color: #462c10;
  font-family: Aviny;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.42px;
  text-align: center;
}

#geotag {
  position: absolute;
  left: 102px;
  top: 0px;
  width: 51px;
  height: 60px;
}

#shomaretam {
  position: absolute;
  left: 728px;
  top: 191px;
  width: 255px;
  height: 174px;
}

#rectangle9 {
  position: absolute;
  left: 0px;
  top: 56px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(175,210,30,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
  backdrop-filter: blur(42px);
}

#a {
  position: absolute;
  left: 54px;
  top: 66px;
  width: 126px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#a {
  position: absolute;
  left: 49px;
  top: 111px;
  width: 157px;
  height: 63px;
  color: #462c10;
  font-family: Aviny;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.42px;
  text-align: center;
}

#call {
  position: absolute;
  left: 90px;
  top: 0px;
  width: 74px;
  height: 74px;
}

#email {
  position: absolute;
  left: 458px;
  top: 186px;
  width: 255px;
  height: 180px;
}

#rectangle9 {
  position: absolute;
  left: 0px;
  top: 61px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(175,210,30,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
  backdrop-filter: blur(42px);
}

#a {
  position: absolute;
  left: 57px;
  top: 72px;
  width: 142px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#atomWordpr {
  position: absolute;
  left: 49px;
  top: 117px;
  width: 157px;
  height: 63px;
  color: #462c10;
  font-family: Aviny;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.42px;
  text-align: center;
}

#convertmeg {
  position: absolute;
  left: 90px;
  top: 0px;
  width: 65px;
  height: 71px;
}

#socialmedi {
  position: absolute;
  left: 188px;
  top: 185px;
  width: 255px;
  height: 174px;
}

#rectangle9 {
  position: absolute;
  left: 0px;
  top: 62px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(175,210,30,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
  backdrop-filter: blur(42px);
}

#a {
  position: absolute;
  left: 41px;
  top: 72px;
  width: 174px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
}

#promotingp {
  position: absolute;
  left: 87px;
  top: 0px;
  width: 75px;
  height: 73px;
}

#telegramAp {
  position: absolute;
  left: 135px;
  top: 116px;
  width: 33px;
  height: 33px;
}

#whatsApp {
  position: absolute;
  left: 174px;
  top: 116px;
  width: 31px;
  height: 31px;
}

#instagram {
  position: absolute;
  left: 51px;
  top: 113px;
  width: 34px;
  height: 34px;
}

#twitterX {
  position: absolute;
  left: 94px;
  top: 113px;
  width: 34px;
  height: 34px;
}

#support {
  position: absolute;
  left: 724px;
  top: 419px;
  width: 554px;
  height: 501px;
}

#.. {
  position: absolute;
  left: 242px;
  top: 0px;
  width: 288px;
  height: 41px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: right;
}

#rectangle1 {
  position: absolute;
  left: 271px;
  top: 47px;
  width: 255px;
  height: 48px;
  border-radius: 9px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#rectangle1 {
  position: absolute;
  left: 1px;
  top: 47px;
  width: 255px;
  height: 48px;
  border-radius: 9px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#rectangle1 {
  position: absolute;
  left: 271px;
  top: 108px;
  width: 255px;
  height: 48px;
  border-radius: 9px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#rectangle1 {
  position: absolute;
  left: 1px;
  top: 108px;
  width: 255px;
  height: 48px;
  border-radius: 9px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 169px;
  width: 526px;
  height: 332px;
  border-radius: 9px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  opacity: 0.8;
  position: absolute;
  left: 367px;
  top: 55px;
  width: 141px;
  height: 26px;
  color: #462c10;
  font-family: Aviny;
  font-size: 28px;
  font-weight: 400;
  line-height: 64.26px;
  text-align: right;
  display: flex;
  align-items: center;
}

#a {
  opacity: 0.8;
  position: absolute;
  left: 95px;
  top: 58px;
  width: 141px;
  height: 26px;
  color: #462c10;
  font-family: Aviny;
  font-size: 28px;
  font-weight: 400;
  line-height: 64.26px;
  text-align: right;
  display: flex;
  align-items: center;
}

#a {
  opacity: 0.8;
  position: absolute;
  left: 367px;
  top: 119px;
  width: 141px;
  height: 26px;
  color: #462c10;
  font-family: Aviny;
  font-size: 28px;
  font-weight: 400;
  line-height: 64.26px;
  text-align: right;
  display: flex;
  align-items: center;
}

#a {
  opacity: 0.8;
  position: absolute;
  left: 91px;
  top: 119px;
  width: 141px;
  height: 26px;
  color: #462c10;
  font-family: Aviny;
  font-size: 28px;
  font-weight: 400;
  line-height: 64.26px;
  text-align: right;
  display: flex;
  align-items: center;
}

#: {
  opacity: 0.8;
  position: absolute;
  left: 105px;
  top: 183px;
  width: 410px;
  height: 26px;
  color: #462c10;
  font-family: Aviny;
  font-size: 28px;
  font-weight: 400;
  line-height: 64.26px;
  text-align: right;
  display: flex;
  align-items: center;
}

#questionma {
  position: absolute;
  left: 515px;
  top: 169px;
  width: 28px;
  height: 43px;
}

#nametag {
  position: absolute;
  left: 510px;
  top: 50px;
  width: 40px;
  height: 40px;
}

#emailsigni {
  position: absolute;
  left: 237px;
  top: 117px;
  width: 33px;
  height: 32px;
}

#phone {
  position: absolute;
  left: 237px;
  top: 50px;
  width: 36px;
  height: 44px;
}

#letter {
  position: absolute;
  left: 510px;
  top: 117px;
  width: 44px;
  height: 35px;
}

#snakeplant {
  position: absolute;
  left: 15px;
  top: 387px;
  width: 37px;
  height: 103px;
}

#map {
  position: absolute;
  left: 188px;
  top: 466px;
  width: 526px;
  height: 455px;
  border-radius: 39px;
}

#homeplanti {
  position: absolute;
  left: 403px;
  top: 685px;
  width: 65px;
  height: 79px;
}
