#aboutus {
  position: absolute;
  left: 5986px;
  top: -691px;
  width: 1440px;
  height: 1795px;
  background: #dffcc3;
  background-blend-mode: normal;
}

#header {
  position: absolute;
  left: -121px;
  top: -286px;
  width: 1714px;
  height: 634px;
}

#ellipse1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1714px;
  height: 634px;
  background: #bbe196;
  background-blend-mode: normal;
  filter: blur(205.8px);
}

#rectangle5 {
  position: absolute;
  left: 284px;
  top: 301px;
  width: 1131px;
  height: 78px;
  border-radius: 18px;
  background: #224820;
  background-blend-mode: normal;
  box-shadow: inset 0px 0px 6.3px 4px rgba(0,0,0,0.25);
}

#a {
  position: absolute;
  left: 1135px;
  top: 314px;
  width: 90px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1057px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 972px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 887px;
  top: 314px;
  width: 75px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 807px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  opacity: 0.6;
  position: absolute;
  left: 653px;
  top: 316px;
  width: 100px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 45.9px;
  text-align: right;
}

#plantinthe {
  visibility: hidden;
  position: absolute;
  left: 400px;
  top: 325px;
  width: 18px;
  height: 30px;
}

#searchstro {
  position: absolute;
  left: 537px;
  top: 323px;
  width: 255px;
  height: 36px;
  border-radius: 23px;
  border: solid #bdd7a4;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#mansearchi {
  position: absolute;
  left: 740px;
  top: 301px;
  width: 66px;
  height: 66px;
}

#a {
  position: absolute;
  left: 1305px;
  top: 300px;
  width: 80px;
  height: 80px;
}

#pottedplan {
  position: absolute;
  left: 490px;
  top: 326px;
  width: 35px;
  height: 35px;
}

#ellipse3 {
  position: absolute;
  left: 510px;
  top: 312px;
  width: 17px;
  height: 17px;
  background: #b0d31f;
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 499px;
  top: 293px;
  width: 25px;
  height: 40px;
  color: #ffffff;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 413px;
  top: 317px;
  width: 78px;
  height: 37px;
  color: #b0d31f;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#group {
  position: absolute;
  left: 319px;
  top: 319px;
  width: 42.38px;
  height: 42.4px;
}

#vector {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42.38px;
  height: 42.4px;
  background: linear-gradient(140deg, #16ff6a 0%, #0090a5 100%);
  background-blend-mode: normal;
}

#vector {
  position: absolute;
  left: 11.1px;
  top: 8.51px;
  width: 21.19px;
  height: 24.8px;
  background: #ffffff;
  background-blend-mode: normal;
}

#groupHotsp {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42.38px;
  height: 42.4px;
}

#a {
  position: absolute;
  left: 194px;
  top: 109px;
  width: 339px;
  height: 339px;
}

#. {
  position: absolute;
  left: 644px;
  top: 198px;
  width: 609px;
  height: 45px;
  color: #462c10;
  font-family: Aviny;
  font-size: 22px;
  font-weight: 400;
  line-height: 50.49px;
  text-align: right;
}

#. {
  position: absolute;
  left: 548px;
  top: 898px;
  width: 705px;
  height: 186px;
  color: #462c10;
  font-family: Aviny;
  font-size: 22px;
  font-weight: 400;
  line-height: 50.49px;
  text-align: right;
}

#... {
  position: absolute;
  left: 876px;
  top: 146px;
  width: 377px;
  height: 26px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: right;
}

#moshaveret {
  position: absolute;
  left: 458px;
  top: 454px;
  width: 255px;
  height: 176px;
}

#rectangle6 {
  position: absolute;
  left: 0px;
  top: 64px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(171,194,148,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#farmer {
  position: absolute;
  left: 90px;
  top: 0px;
  width: 75px;
  height: 75px;
}

#a {
  position: absolute;
  left: 6px;
  top: 113px;
  width: 227px;
  height: 63px;
  color: #462c10;
  font-family: Aviny;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.42px;
  text-align: right;
}

#a {
  position: absolute;
  left: 59px;
  top: 79px;
  width: 137px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
}

#kharidraha {
  position: absolute;
  left: 728px;
  top: 434px;
  width: 255px;
  height: 196px;
}

#rectangle7 {
  position: absolute;
  left: 0px;
  top: 84px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(171,194,148,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 46px;
  top: 95px;
  width: 160px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
}

#a {
  position: absolute;
  left: 8px;
  top: 127px;
  width: 235px;
  height: 63px;
  color: #462c10;
  font-family: Aviny;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.42px;
  text-align: right;
}

#monsterapl {
  position: absolute;
  left: 101px;
  top: 0px;
  width: 50px;
  height: 91px;
}

#tazminghey {
  position: absolute;
  left: 998px;
  top: 457px;
  width: 255px;
  height: 173px;
}

#rectangle8 {
  position: absolute;
  left: 0px;
  top: 61px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(171,194,148,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 7px;
  top: 73px;
  width: 181px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#a {
  position: absolute;
  left: 7px;
  top: 104px;
  width: 227px;
  height: 63px;
  color: #462c10;
  font-family: Aviny;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.42px;
  text-align: right;
}

#girlwithpi {
  position: absolute;
  left: 93px;
  top: 0px;
  width: 69px;
  height: 72px;
}

#mohitzist {
  position: absolute;
  left: 188px;
  top: 438px;
  width: 255px;
  height: 192px;
}

#rectangle9 {
  position: absolute;
  left: 0px;
  top: 80px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(171,194,148,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#ecologyear {
  position: absolute;
  left: 105px;
  top: 0px;
  width: 56px;
  height: 92px;
}

#a {
  position: absolute;
  left: 32px;
  top: 91px;
  width: 181px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
}

#a {
  position: absolute;
  left: 14px;
  top: 129px;
  width: 227px;
  height: 63px;
  color: #462c10;
  font-family: Aviny;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.42px;
  text-align: right;
}

#goalachiev {
  position: absolute;
  left: 194px;
  top: 756px;
  width: 363px;
  height: 328px;
}

#a {
  position: absolute;
  left: 643px;
  top: 674px;
  width: 160px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

#rectangle1 {
  position: absolute;
  left: 1088px;
  top: 803px;
  width: 165px;
  height: 87px;
  border-radius: 22px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(173,208,30,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
  backdrop-filter: blur(42px);
}

#rectangle1 {
  position: absolute;
  left: 908px;
  top: 803px;
  width: 165px;
  height: 87px;
  border-radius: 22px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(173,208,30,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
  backdrop-filter: blur(42px);
}

#rectangle1 {
  position: absolute;
  left: 727px;
  top: 803px;
  width: 165px;
  height: 87px;
  border-radius: 22px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(173,208,30,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
  backdrop-filter: blur(42px);
}

#a {
  position: absolute;
  left: 1122px;
  top: 873px;
  width: 90px;
  height: 29px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.84px;
  text-align: right;
  display: flex;
  align-items: flex-end;
}

#a {
  position: absolute;
  left: 936px;
  top: 873px;
  width: 109px;
  height: 29px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.84px;
  text-align: right;
  display: flex;
  align-items: flex-end;
}

#a {
  position: absolute;
  left: 744px;
  top: 873px;
  width: 109px;
  height: 29px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.84px;
  text-align: right;
  display: flex;
  align-items: flex-end;
}

#a {
  position: absolute;
  left: 1112px;
  top: 847px;
  width: 117px;
  height: 29px;
  color: #462c10;
  font-family: Aviny;
  font-size: 48px;
  font-weight: 400;
  line-height: 61.69px;
  text-align: center;
  display: flex;
  align-items: center;
}

#a {
  position: absolute;
  left: 932px;
  top: 852px;
  width: 117px;
  height: 18px;
  color: #462c10;
  font-family: Aviny;
  font-size: 48px;
  font-weight: 400;
  line-height: 61.69px;
  text-align: center;
  display: flex;
  align-items: center;
}

#a {
  position: absolute;
  left: 751px;
  top: 852px;
  width: 117px;
  height: 18px;
  color: #462c10;
  font-family: Aviny;
  font-size: 48px;
  font-weight: 400;
  line-height: 61.69px;
  text-align: center;
  display: flex;
  align-items: center;
}

#girlwithbo {
  position: absolute;
  left: 1134px;
  top: 739px;
  width: 74px;
  height: 117px;
}

#interiorpl {
  position: absolute;
  left: 954px;
  top: 737px;
  width: 92px;
  height: 119px;
}

#movingboxe {
  position: absolute;
  left: 761px;
  top: 764px;
  width: 132px;
  height: 80px;
}

#curvedgree {
  position: absolute;
  left: 797px;
  top: 687px;
  width: 47px;
  height: 19px;
}

#footer {
  position: absolute;
  left: -105px;
  top: 1622px;
  width: 1714px;
  height: 674px;
}

#ellipse1 {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 1714px;
  height: 634px;
  background: #b4d197;
  background-blend-mode: normal;
  filter: blur(89.5px);
}

#anguor-c-1 {
  position: absolute;
  left: 286px;
  top: 23px;
  width: 104px;
  height: 113px;
}

#anguor-c-1 {
  position: absolute;
  left: 401px;
  top: 25px;
  width: 116px;
  height: 116px;
}

#a {
  position: absolute;
  left: 1137px;
  top: 55px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1137px;
  top: 83px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1043px;
  top: 55px;
  width: 75px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1066px;
  top: 83px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1211px;
  top: 29px;
  width: 118px;
  height: 118px;
}

#rectangle1 {
  position: absolute;
  left: 744px;
  top: 97px;
  width: 255px;
  height: 33px;
  border-radius: 15px;
  border: 1px solid #224820;
  background: #abc294;
  background-blend-mode: normal;
}

#rectangle1 {
  position: absolute;
  left: 564px;
  top: 98px;
  width: 165px;
  height: 32px;
  border-radius: 12px;
  background: #462c10;
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 586px;
  top: 103px;
  width: 115px;
  height: 21px;
  color: #b0d31f;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.41px;
  text-align: right;
}

#a {
  position: absolute;
  left: 905px;
  top: 86px;
  width: 81px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#: {
  position: absolute;
  left: 728px;
  top: 59px;
  width: 242px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 45.9px;
  text-align: right;
}

#telegramAp {
  position: absolute;
  left: 653px;
  top: 62px;
  width: 33px;
  height: 33px;
}

#whatsApp {
  position: absolute;
  left: 692px;
  top: 62px;
  width: 31px;
  height: 31px;
}

#instagram {
  position: absolute;
  left: 569px;
  top: 59px;
  width: 34px;
  height: 34px;
}

#twitterX {
  position: absolute;
  left: 612px;
  top: 59px;
  width: 34px;
  height: 34px;
}

#location {
  position: absolute;
  left: 974px;
  top: 68px;
  width: 24px;
  height: 24px;
}

#weavingpla {
  position: absolute;
  left: 947px;
  top: 20.68px;
  width: 89px;
  height: 169px;
  transform: rotate(-13.436225deg);
}

#greenplant {
  position: absolute;
  left: 480px;
  top: 111.99px;
  width: 83.14px;
  height: 90.99px;
  transform: rotate(-40.498302deg);
}

#markdown {
  position: absolute;
  left: 596px;
  top: 139px;
  width: 443px;
  height: 157px;
}

#ellipse4 {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 443px;
  height: 149px;
  background: #224820;
  background-blend-mode: normal;
}

#AtomWordpr {
  position: absolute;
  left: 115px;
  top: 0px;
  width: 218px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 16px;
  font-weight: 400;
  line-height: 36.72px;
  text-align: right;
  display: flex;
  align-items: center;
}

#a {
  position: absolute;
  left: 653px;
  top: 1123px;
  width: 133px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: right;
}

#comment {
  position: absolute;
  left: 998px;
  top: 1191px;
  width: 255px;
  height: 346px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 54px;
  width: 255px;
  height: 292px;
  border-radius: 38px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(176,211,31,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 65px;
  top: 129px;
  width: 126px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#.. {
  position: absolute;
  left: 12px;
  top: 174px;
  width: 232px;
  height: 144px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: right;
}

#ellipse2 {
  position: absolute;
  left: 75px;
  top: 0px;
  width: 105px;
  height: 105px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#avatargirl {
  position: absolute;
  left: 81px;
  top: 6px;
  width: 94px;
  height: 94px;
}

#comment {
  position: absolute;
  left: 728px;
  top: 1192px;
  width: 255px;
  height: 346px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 54px;
  width: 255px;
  height: 292px;
  border-radius: 38px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(176,211,31,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 60px;
  top: 129px;
  width: 135px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#... {
  position: absolute;
  left: 12px;
  top: 174px;
  width: 232px;
  height: 144px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: right;
}

#ellipse2 {
  position: absolute;
  left: 75px;
  top: 0px;
  width: 105px;
  height: 105px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#profilepic {
  position: absolute;
  left: 81px;
  top: 6px;
  width: 93px;
  height: 93px;
}

#comment {
  position: absolute;
  left: 188px;
  top: 1192px;
  width: 255px;
  height: 346px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 54px;
  width: 255px;
  height: 292px;
  border-radius: 38px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(176,211,31,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 60px;
  top: 129px;
  width: 135px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#... {
  position: absolute;
  left: 12px;
  top: 174px;
  width: 232px;
  height: 144px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: right;
}

#ellipse2 {
  position: absolute;
  left: 75px;
  top: 0px;
  width: 105px;
  height: 105px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#profilepic {
  position: absolute;
  left: 81px;
  top: 6px;
  width: 93px;
  height: 93px;
}

#comment {
  position: absolute;
  left: 458px;
  top: 1191px;
  width: 255px;
  height: 346px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 54px;
  width: 255px;
  height: 292px;
  border-radius: 38px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(176,211,31,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 65px;
  top: 129px;
  width: 126px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#.. {
  position: absolute;
  left: 12px;
  top: 174px;
  width: 232px;
  height: 144px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: right;
}

#ellipse2 {
  position: absolute;
  left: 75px;
  top: 0px;
  width: 105px;
  height: 105px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#avatargirl {
  position: absolute;
  left: 81px;
  top: 6px;
  width: 94px;
  height: 94px;
}

#forward {
  position: absolute;
  left: 1240px;
  top: 1374px;
  width: 45px;
  height: 45px;
}

#forward {
  position: absolute;
  left: 199px;
  top: 1376px;
  width: 45px;
  height: 45px;
  transform: scaleX(-1) rotate(180deg);
}

#smallgreen {
  position: absolute;
  left: 788px;
  top: 1123px;
  width: 34px;
  height: 39px;
}
#aboutus {
  position: absolute;
  left: 5986px;
  top: -691px;
  width: 1440px;
  height: 1795px;
  background: #dffcc3;
  background-blend-mode: normal;
}

#header {
  position: absolute;
  left: -121px;
  top: -286px;
  width: 1714px;
  height: 634px;
}

#ellipse1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1714px;
  height: 634px;
  background: #bbe196;
  background-blend-mode: normal;
  filter: blur(205.8px);
}

#rectangle5 {
  position: absolute;
  left: 284px;
  top: 301px;
  width: 1131px;
  height: 78px;
  border-radius: 18px;
  background: #224820;
  background-blend-mode: normal;
  box-shadow: inset 0px 0px 6.3px 4px rgba(0,0,0,0.25);
}

#a {
  position: absolute;
  left: 1135px;
  top: 314px;
  width: 90px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1057px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 972px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 887px;
  top: 314px;
  width: 75px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 807px;
  top: 314px;
  width: 57px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  opacity: 0.6;
  position: absolute;
  left: 653px;
  top: 316px;
  width: 100px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 45.9px;
  text-align: right;
}

#plantinthe {
  visibility: hidden;
  position: absolute;
  left: 400px;
  top: 325px;
  width: 18px;
  height: 30px;
}

#searchstro {
  position: absolute;
  left: 537px;
  top: 323px;
  width: 255px;
  height: 36px;
  border-radius: 23px;
  border: solid #bdd7a4;
  background: rgba(217,217,217,0);
  background-blend-mode: normal;
}

#mansearchi {
  position: absolute;
  left: 740px;
  top: 301px;
  width: 66px;
  height: 66px;
}

#a {
  position: absolute;
  left: 1305px;
  top: 300px;
  width: 80px;
  height: 80px;
}

#pottedplan {
  position: absolute;
  left: 490px;
  top: 326px;
  width: 35px;
  height: 35px;
}

#ellipse3 {
  position: absolute;
  left: 510px;
  top: 312px;
  width: 17px;
  height: 17px;
  background: #b0d31f;
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 499px;
  top: 293px;
  width: 25px;
  height: 40px;
  color: #ffffff;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 413px;
  top: 317px;
  width: 78px;
  height: 37px;
  color: #b0d31f;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#group {
  position: absolute;
  left: 319px;
  top: 319px;
  width: 42.38px;
  height: 42.4px;
}

#vector {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42.38px;
  height: 42.4px;
  background: linear-gradient(140deg, #16ff6a 0%, #0090a5 100%);
  background-blend-mode: normal;
}

#vector {
  position: absolute;
  left: 11.1px;
  top: 8.51px;
  width: 21.19px;
  height: 24.8px;
  background: #ffffff;
  background-blend-mode: normal;
}

#groupHotsp {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42.38px;
  height: 42.4px;
}

#a {
  position: absolute;
  left: 194px;
  top: 109px;
  width: 339px;
  height: 339px;
}

#. {
  position: absolute;
  left: 644px;
  top: 198px;
  width: 609px;
  height: 45px;
  color: #462c10;
  font-family: Aviny;
  font-size: 22px;
  font-weight: 400;
  line-height: 50.49px;
  text-align: right;
}

#. {
  position: absolute;
  left: 548px;
  top: 898px;
  width: 705px;
  height: 186px;
  color: #462c10;
  font-family: Aviny;
  font-size: 22px;
  font-weight: 400;
  line-height: 50.49px;
  text-align: right;
}

#... {
  position: absolute;
  left: 876px;
  top: 146px;
  width: 377px;
  height: 26px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: right;
}

#moshaveret {
  position: absolute;
  left: 458px;
  top: 454px;
  width: 255px;
  height: 176px;
}

#rectangle6 {
  position: absolute;
  left: 0px;
  top: 64px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(171,194,148,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#farmer {
  position: absolute;
  left: 90px;
  top: 0px;
  width: 75px;
  height: 75px;
}

#a {
  position: absolute;
  left: 6px;
  top: 113px;
  width: 227px;
  height: 63px;
  color: #462c10;
  font-family: Aviny;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.42px;
  text-align: right;
}

#a {
  position: absolute;
  left: 59px;
  top: 79px;
  width: 137px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
}

#kharidraha {
  position: absolute;
  left: 728px;
  top: 434px;
  width: 255px;
  height: 196px;
}

#rectangle7 {
  position: absolute;
  left: 0px;
  top: 84px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(171,194,148,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 46px;
  top: 95px;
  width: 160px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
}

#a {
  position: absolute;
  left: 8px;
  top: 127px;
  width: 235px;
  height: 63px;
  color: #462c10;
  font-family: Aviny;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.42px;
  text-align: right;
}

#monsterapl {
  position: absolute;
  left: 101px;
  top: 0px;
  width: 50px;
  height: 91px;
}

#tazminghey {
  position: absolute;
  left: 998px;
  top: 457px;
  width: 255px;
  height: 173px;
}

#rectangle8 {
  position: absolute;
  left: 0px;
  top: 61px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(171,194,148,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 7px;
  top: 73px;
  width: 181px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#a {
  position: absolute;
  left: 7px;
  top: 104px;
  width: 227px;
  height: 63px;
  color: #462c10;
  font-family: Aviny;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.42px;
  text-align: right;
}

#girlwithpi {
  position: absolute;
  left: 93px;
  top: 0px;
  width: 69px;
  height: 72px;
}

#mohitzist {
  position: absolute;
  left: 188px;
  top: 438px;
  width: 255px;
  height: 192px;
}

#rectangle9 {
  position: absolute;
  left: 0px;
  top: 80px;
  width: 255px;
  height: 112px;
  border-radius: 22px;
  border: solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(171,194,148,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#ecologyear {
  position: absolute;
  left: 105px;
  top: 0px;
  width: 56px;
  height: 92px;
}

#a {
  position: absolute;
  left: 32px;
  top: 91px;
  width: 181px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
}

#a {
  position: absolute;
  left: 14px;
  top: 129px;
  width: 227px;
  height: 63px;
  color: #462c10;
  font-family: Aviny;
  font-size: 19px;
  font-weight: 400;
  line-height: 24.42px;
  text-align: right;
}

#goalachiev {
  position: absolute;
  left: 194px;
  top: 756px;
  width: 363px;
  height: 328px;
}

#a {
  position: absolute;
  left: 643px;
  top: 674px;
  width: 160px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

#rectangle1 {
  position: absolute;
  left: 1088px;
  top: 803px;
  width: 165px;
  height: 87px;
  border-radius: 22px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(173,208,30,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
  backdrop-filter: blur(42px);
}

#rectangle1 {
  position: absolute;
  left: 908px;
  top: 803px;
  width: 165px;
  height: 87px;
  border-radius: 22px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(173,208,30,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
  backdrop-filter: blur(42px);
}

#rectangle1 {
  position: absolute;
  left: 727px;
  top: 803px;
  width: 165px;
  height: 87px;
  border-radius: 22px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(173,208,30,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
  backdrop-filter: blur(42px);
}

#a {
  position: absolute;
  left: 1122px;
  top: 873px;
  width: 90px;
  height: 29px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.84px;
  text-align: right;
  display: flex;
  align-items: flex-end;
}

#a {
  position: absolute;
  left: 936px;
  top: 873px;
  width: 109px;
  height: 29px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.84px;
  text-align: right;
  display: flex;
  align-items: flex-end;
}

#a {
  position: absolute;
  left: 744px;
  top: 873px;
  width: 109px;
  height: 29px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.84px;
  text-align: right;
  display: flex;
  align-items: flex-end;
}

#a {
  position: absolute;
  left: 1112px;
  top: 847px;
  width: 117px;
  height: 29px;
  color: #462c10;
  font-family: Aviny;
  font-size: 48px;
  font-weight: 400;
  line-height: 61.69px;
  text-align: center;
  display: flex;
  align-items: center;
}

#a {
  position: absolute;
  left: 932px;
  top: 852px;
  width: 117px;
  height: 18px;
  color: #462c10;
  font-family: Aviny;
  font-size: 48px;
  font-weight: 400;
  line-height: 61.69px;
  text-align: center;
  display: flex;
  align-items: center;
}

#a {
  position: absolute;
  left: 751px;
  top: 852px;
  width: 117px;
  height: 18px;
  color: #462c10;
  font-family: Aviny;
  font-size: 48px;
  font-weight: 400;
  line-height: 61.69px;
  text-align: center;
  display: flex;
  align-items: center;
}

#girlwithbo {
  position: absolute;
  left: 1134px;
  top: 739px;
  width: 74px;
  height: 117px;
}

#interiorpl {
  position: absolute;
  left: 954px;
  top: 737px;
  width: 92px;
  height: 119px;
}

#movingboxe {
  position: absolute;
  left: 761px;
  top: 764px;
  width: 132px;
  height: 80px;
}

#curvedgree {
  position: absolute;
  left: 797px;
  top: 687px;
  width: 47px;
  height: 19px;
}

#footer {
  position: absolute;
  left: -105px;
  top: 1622px;
  width: 1714px;
  height: 674px;
}

#ellipse1 {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 1714px;
  height: 634px;
  background: #b4d197;
  background-blend-mode: normal;
  filter: blur(89.5px);
}

#anguor-c-1 {
  position: absolute;
  left: 286px;
  top: 23px;
  width: 104px;
  height: 113px;
}

#anguor-c-1 {
  position: absolute;
  left: 401px;
  top: 25px;
  width: 116px;
  height: 116px;
}

#a {
  position: absolute;
  left: 1137px;
  top: 55px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1137px;
  top: 83px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1043px;
  top: 55px;
  width: 75px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1066px;
  top: 83px;
  width: 57px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#a {
  position: absolute;
  left: 1211px;
  top: 29px;
  width: 118px;
  height: 118px;
}

#rectangle1 {
  position: absolute;
  left: 744px;
  top: 97px;
  width: 255px;
  height: 33px;
  border-radius: 15px;
  border: 1px solid #224820;
  background: #abc294;
  background-blend-mode: normal;
}

#rectangle1 {
  position: absolute;
  left: 564px;
  top: 98px;
  width: 165px;
  height: 32px;
  border-radius: 12px;
  background: #462c10;
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 586px;
  top: 103px;
  width: 115px;
  height: 21px;
  color: #b0d31f;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.41px;
  text-align: right;
}

#a {
  position: absolute;
  left: 905px;
  top: 86px;
  width: 81px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 24px;
  font-weight: 400;
  line-height: 55.08px;
  text-align: right;
}

#: {
  position: absolute;
  left: 728px;
  top: 59px;
  width: 242px;
  height: 45px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 45.9px;
  text-align: right;
}

#telegramAp {
  position: absolute;
  left: 653px;
  top: 62px;
  width: 33px;
  height: 33px;
}

#whatsApp {
  position: absolute;
  left: 692px;
  top: 62px;
  width: 31px;
  height: 31px;
}

#instagram {
  position: absolute;
  left: 569px;
  top: 59px;
  width: 34px;
  height: 34px;
}

#twitterX {
  position: absolute;
  left: 612px;
  top: 59px;
  width: 34px;
  height: 34px;
}

#location {
  position: absolute;
  left: 974px;
  top: 68px;
  width: 24px;
  height: 24px;
}

#weavingpla {
  position: absolute;
  left: 947px;
  top: 20.68px;
  width: 89px;
  height: 169px;
  transform: rotate(-13.436225deg);
}

#greenplant {
  position: absolute;
  left: 480px;
  top: 111.99px;
  width: 83.14px;
  height: 90.99px;
  transform: rotate(-40.498302deg);
}

#markdown {
  position: absolute;
  left: 596px;
  top: 139px;
  width: 443px;
  height: 157px;
}

#ellipse4 {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 443px;
  height: 149px;
  background: #224820;
  background-blend-mode: normal;
}

#AtomWordpr {
  position: absolute;
  left: 115px;
  top: 0px;
  width: 218px;
  height: 45px;
  color: #bdd7a4;
  font-family: Aviny;
  font-size: 16px;
  font-weight: 400;
  line-height: 36.72px;
  text-align: right;
  display: flex;
  align-items: center;
}

#a {
  position: absolute;
  left: 653px;
  top: 1123px;
  width: 133px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: right;
}

#comment {
  position: absolute;
  left: 998px;
  top: 1191px;
  width: 255px;
  height: 346px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 54px;
  width: 255px;
  height: 292px;
  border-radius: 38px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(176,211,31,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 65px;
  top: 129px;
  width: 126px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#.. {
  position: absolute;
  left: 12px;
  top: 174px;
  width: 232px;
  height: 144px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: right;
}

#ellipse2 {
  position: absolute;
  left: 75px;
  top: 0px;
  width: 105px;
  height: 105px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#avatargirl {
  position: absolute;
  left: 81px;
  top: 6px;
  width: 94px;
  height: 94px;
}

#comment {
  position: absolute;
  left: 728px;
  top: 1192px;
  width: 255px;
  height: 346px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 54px;
  width: 255px;
  height: 292px;
  border-radius: 38px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(176,211,31,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 60px;
  top: 129px;
  width: 135px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#... {
  position: absolute;
  left: 12px;
  top: 174px;
  width: 232px;
  height: 144px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: right;
}

#ellipse2 {
  position: absolute;
  left: 75px;
  top: 0px;
  width: 105px;
  height: 105px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#profilepic {
  position: absolute;
  left: 81px;
  top: 6px;
  width: 93px;
  height: 93px;
}

#comment {
  position: absolute;
  left: 188px;
  top: 1192px;
  width: 255px;
  height: 346px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 54px;
  width: 255px;
  height: 292px;
  border-radius: 38px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(176,211,31,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 60px;
  top: 129px;
  width: 135px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#... {
  position: absolute;
  left: 12px;
  top: 174px;
  width: 232px;
  height: 144px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: right;
}

#ellipse2 {
  position: absolute;
  left: 75px;
  top: 0px;
  width: 105px;
  height: 105px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#profilepic {
  position: absolute;
  left: 81px;
  top: 6px;
  width: 93px;
  height: 93px;
}

#comment {
  position: absolute;
  left: 458px;
  top: 1191px;
  width: 255px;
  height: 346px;
}

#rectangle1 {
  position: absolute;
  left: 0px;
  top: 54px;
  width: 255px;
  height: 292px;
  border-radius: 38px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(176,211,31,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#a {
  position: absolute;
  left: 65px;
  top: 129px;
  width: 126px;
  height: 45px;
  color: #224820;
  font-family: Kaghaz;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
}

#.. {
  position: absolute;
  left: 12px;
  top: 174px;
  width: 232px;
  height: 144px;
  color: #224820;
  font-family: Aviny;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: right;
}

#ellipse2 {
  position: absolute;
  left: 75px;
  top: 0px;
  width: 105px;
  height: 105px;
  border: 3px solid ;
  background: radial-gradient(135.8% 231% at 0.9% 2.98%, rgba(72,174,100,0.4) 0%, rgba(255,255,255,0) 100%);
  background-blend-mode: normal;
}

#avatargirl {
  position: absolute;
  left: 81px;
  top: 6px;
  width: 94px;
  height: 94px;
}

#forward {
  position: absolute;
  left: 1240px;
  top: 1374px;
  width: 45px;
  height: 45px;
}

#forward {
  position: absolute;
  left: 199px;
  top: 1376px;
  width: 45px;
  height: 45px;
  transform: scaleX(-1) rotate(180deg);
}

#smallgreen {
  position: absolute;
  left: 788px;
  top: 1123px;
  width: 34px;
  height: 39px;
}
